slide-deck {
  --color-dark: #1e1e1e;
  --color-light: white;
  --gap: clamp(8px, 0.25em + 1vw, 16px);
  color: var(--text-color);
  container: slide-deck / inline-size;
  display: grid;
  min-height: 100vh;

  &[slide-view=grid] {
    --slide-ratio: 16/9;
    --target-outline: medium dotted;
    --target-margin: var(--gap);
    gap: var(--gap);
    grid-template-columns: repeat(auto-fill, minmax(min(50ch, 100%), 1fr));
    padding: var(--gap);
  }

  &[slide-view=list] {
    --slide-height: 100svh;
  }

  &[blank-slide]::after {
    content: '';
    background-color: var(--blank-color);
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  &[blank-slide=black] {
    --blank-color: var(--color-dark);
    --text-color: var(--color-light);
  }

  &[blank-slide=white] {
    --blank-color: var(--color-light);
    --text-color: var(--color-dark);
  }

  [slide-canvas] {
    aspect-ratio: var(--slide-ratio);
    border: thin solid;
    box-sizing: border-box;
    container: slide-item / inline-size;
    min-height: var(--slide-height);
    padding: var(--gap);
    scroll-margin-block: var(--target-margin);

    &:target {
      outline: var(--target-outline);
      outline-offset: calc(var(--gap) * 0.5);
    }
  }

  [slide-note] {
    margin-block: var(--gap);
  }

  &::part(control-panel) {
    min-width: min(50ch, 100%);
    padding: 0;
  }

  &::part(panel-header) {
    border-block-end: thin solid;
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1fr auto;
    padding: var(--gap);
  }

  &::part(controls) {
    padding: var(--gap);
  }

  button,
  &::part(button) {
    font: inherit;
    padding-inline: var(--gap);
    border: medium solid transparent;
  }

  [aria-pressed=true],
  &::part(pressed) {
    border-color: currentColor;
  }
}
