slide-deck {
  --gap: clamp(8px, 0.25em + 1vw, 16px);
  container: slide-deck / inline-size;
  display: grid;

  &[slide-view=grid],
  &[slide-view=script] {
    --slide-ratio: 16/9;
    --target-margin: var(--gap);
    --target-outline: medium dotted;
    --target-outline-offset: calc(var(--gap) * 0.5);
    gap: var(--row-gap, var(--gap)) var(--column-gap, var(--gap));
    padding: var(--gap);
  }

  &[slide-view=grid] {
    --slide-note-margin-block: var(--gap);
    grid-template-columns: repeat(auto-fill, minmax(min(50ch, 100%), 1fr));
  }

  &[slide-view=solo] {
    --slide-height: 100svh;
  }

  &[slide-view=script] {
    --column-gap: calc(1.25em + 2vw);
    --row-gap: 5em;
    display: grid;

    @media (width >= 60em) {
      grid-template-columns: minmax(30vw, auto) minmax(65vw, 1fr);
    }

    [slide-item='container'] {
      align-items: center;
      display: grid;
      grid-column: 1 / -1;
      grid-template-columns: subgrid;
    }

    [slide-canvas] {
      grid-column: 1;
      scale: var(--scaled-slide, 0.80);
    }

    [slide-note] {
      font-size: var(--note-font-size, 120%);
      grid-column: 2;
      max-width: 75ch;
      padding-inline: var(--gap);
    }

    [slide-item]:target {
      --note-font-size: 160%;
      --scaled-slide: 1;
    }
  }

  &[blank-slide]::after {
    content: '';
    background-color: var(--blank-color, black);
    position: absolute;
    inset: 0;
  }

  &[blank-slide=white] {
    --blank-color: white;
  }

  [slide-item] {
    scroll-margin-block: var(--target-margin);
  }

  [aria-current='true'][slide-canvas],
  [aria-current='true'] [slide-canvas] {
    outline: var(--target-outline);
    outline-offset: var(--target-outline-offset);
  }

  [slide-canvas] {
    aspect-ratio: var(--slide-ratio);
    border: thin solid;
    box-sizing: border-box;
    container: slide-item / inline-size;
    min-height: var(--slide-height);
    padding: var(--gap);
  }

  [slide-note] {
    margin-block: var(--slide-note-margin-block);
  }

  &::part(control-panel) {
    min-width: min(50ch, 100%);
    padding: 0;
  }

  &::part(panel-header) {
    border-block-end: thin solid;
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1fr auto;
    padding: var(--gap);
  }

  &::part(controls) {
    padding: var(--gap);
  }

  button,
  &::part(button) {
    font: inherit;
    padding-inline: var(--gap);
    border: medium solid transparent;
  }

  [aria-pressed=true],
  &::part(pressed) {
    border-color: currentColor;
  }
}
